/* ****GLOBAL LAYOUT SETUP**** */
* { 
    box-sizing: border-box;
  }

/*=======================/
******BASE STYLES*******
/======================*/

/****HEADER****/

.banner {
    display: flex;
    min-height: 13vh;
    background: #26323C;
}

.banner p {
    margin: auto;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    font-size: 18px;
    color: white;
}

.top-info {
    display: flex;
    min-height: 20vh;
    flex-direction: column;
    text-align: center;
    border-bottom: 5px solid #26323C;
    width: 90%;
    margin: auto;
}

h2 {
    color: #26323C;
    padding-top: 1.3em;
    padding-bottom: 5px;
    margin: auto;
    font-family: 'Merriweather', serif;
    font-size: 20px;
}

.top-info p {
    font-size: 20px;
    opacity: 0.4;
    margin: auto;
    padding-top: .5em;
    padding-bottom: 2em;
}

/****BODY****/

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

form {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    flex: 1;
}

.contact {
    border-top: 1px solid #26323C;
    border-bottom: 1px solid #26323C;
}

label {
    display: block;
    margin-bottom: 10px;
    opacity: 0.8;
}

label[for="topics"],
label[for="hear_about_us"] {
    margin: 10px 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    height: auto;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 20px;
    transition-duration: 0.4s;
}

#state {
   height: 50px;
   margin: auto 0 20px 0;
   border: none;
}

input[id="zip"] {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    height: auto;
    padding: 15px;
    max-width: 150px;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 20px;
}

select {
    border-radius: 5px;
}

#state:focus,
input:focus,
select:focus,
textarea:focus {
    color: black;
    border: 1px solid #146099;
    border-radius: 5px;
}

#state:focus,
input:focus {
    background: transparent;
}

textarea:focus,
select:focus {
    background: white;
}

.background {
    background: #EDEFEF;
    margin: 0 0 10px 0;
    padding: 10px;
}

fieldset {
    border: none;
    padding: 0;
}

.inline-field {
    margin: 5px 0;
}

.inline-field input,
.inline-field label {
    display: inline-block;
}


/****NEWSLETTER SECTION****/

legend {
    padding: 10px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin: 0;
}

legend:first-child {
    padding: 15px 0;
}

.background p {
    padding: 10px 0;
    margin: 0;
    opacity: 0.8;
}

input[type="checkbox"],
input[type="radio"] {
    margin: 0 4px 8px 0;
}

textarea {
    padding: 10px 10px 40px 10px;
    font-family: 'Merriweather', serif;
    font-size: 14px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 0;
}

#hear_about_us {
    border: 1px solid grey;
}

button {
    background: #21CAAC;
    color: white;
    font-size: 16px;
    text-transform: uppercase !important;
    width: 100%;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin: 0;
    padding: 15px 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Merriweather', serif !important;
}

/****PLACEHOLDERS****/

input[id="name"]::placeholder,
input[type="email"]::placeholder,
select[id="hear_about_us"]::placeholder {
    opacity: 0.5;
    text-align: right;
    font-style: italic;
    font-size: 14px;
}

input[type="tel"]::placeholder,
input[id="zip"]::placeholder {
    opacity: 0.5;
    font-style: italic;
    font-size: 14px;
}

/****FOOTER****/

footer {
    text-align: center;
    opacity: 0.4;
    margin: 0;
    font-style: italic;
}


/*=======================/
******MEDIA QUERIES*******
/======================*/

@media (min-width: 768px) {
    .banner p {
        font-size: 20px;
    }

    h2 {
        font-size: 24px;
    }

    form {
        margin: 5px auto;
        flex: 1;
    }

   form,
   .top-info {
       width: 700px;
   }

   .top-info p {
        padding-top: 0;
    }

    .container {
        display: flex;
        margin: 0;
        width: 100%;
    }

    .container label {
        padding: 10px 10px 10px 0;
        flex: 1;
        margin: 15px 0;
    }

    .container input {
        width: 200px;
        flex: 2;
        margin: auto;
    }

    .container:last-child {
        margin-bottom: 20px;
    }

    .cont {
        display: flex;
        width: 68.7%;
    }

    #state {
        margin: auto 0;
    }

    input[type="number"] {
        align-self: flex-start;
    }

    .zip_label {
        max-width: 295.33px;
    }

    #zip {
        align-self: flex-start;
        margin: 10px 0;
    }

    .contact {
        padding: 0;
    }

    select {
        flex: 2;
        margin: 10px 0;
    }

}

@media (min-width: 1024px) {
    form {
        width: 80%;
    }

    .top-info {
        width: 80%;
    }
}